.box
{
    font-size:14px;
    width: 280px;
    height: 200px;
    font-weight: bold;
    text-align:center;
    border-color: black;
    border-style: solid;
    float: left;
    margin-left: 3cm;
}
.imga
{
    width: 1334px;
    height: 300px;
    background-size: cover;
    margin-bottom: 30px;
    display: table-cell;
    vertical-align: middle;

}
.imge
{
    width: 90px;
    height: 90px;
    float:left;
}